<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="bootstrap-icons.css" rel="stylesheet" type="text/css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <title>Inicio</title>

</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <img src="Logo.png">
                </div>
                <div class="col-2 position-absolute top-0 end-0">
                    <div class="row">
                        <div class="col-4 dropdown">
                            <button class="btn btn-lg" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person bi-md"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item bi bi-person-x-fill" href="/index/out"> Desconectar</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-lg" onclick="javascript:window.location.href='/carro'">
                                <i class="bi bi-cart bi-md"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <nav>
        <div class="container bg-info rounded">
            <div class="row">
                <div class="col-4 text-center">
                    <a href="/index"><button type="button" class="btn outline-info bg-info">Inicio</button></a>
                </div>
                <div class="col-4 text-center">
                    <a href="/producto"><button type="button" class="btn outline-info bg-info">Productos</button></a>
                </div>
                <div class="col-4 text-center">
                    <a href="/contacto"><button type="button" class="btn outline-info bg-info">Contacto</button></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <aside>
                    <h6><br>Todos nuestros productos son pro-ambiente y los envances son 100% reciclables</h6>
                    <h6><br>Contamos con el apoyo de especalistas para ofrecerte la mejor calidad de productos<br> con el mejor precio ofrecido en el mercado</h6>
                    <h6><br>Si no encuentras un producto en nuestra pagina, por favor envia un correo y cuentanos que es lo que te hace falta, para poder incluirlo entre nuestros productos</h6>
                </aside>
            </div>
            <div class="col-8">
                <section>
                    <h2> Nuestra Pyme </h2>
                    <article>
                        <p><br>Nos dedicamos a la venta de materiales para pintar,<br> nuestro objetivo es llevar más color a la vida de las personas.<br> Creemos que los colores que nos rodean generan cambios en nuestra vida.
                        </p>
                    </article>
                    <article>
                        <p><br>Vendemos pinturas para lo que necesites, ya sea pintar tu casa,
                            <br> o pintar un cuadro, todo lo encontraras en nuestra seccion de productos.</p>
                    </article>
                    <article>
                        <p><br>Que te faltan pinceles, brochas, rodillos, bueno tambien los Vendemos
                            <br> y todo lo encuentras en un solo lugar. La seccion de productos de nuestra página.</p>
                    </article>
                </section>

            </div>
        </div>
    </div>
    <div class="footer position-static bottom-0 start-0 w-100">
        <div class="container">
            <div class="row">
                <div class="text-center col-4 p-3">
                    <h6>Direccion: Av.Molino 1445 local 7A</h6>
                    <h6>Telefono: +56 2 1234 5678</h6>
                    <h6>E-mail: Dale.Color@hotmail.com</h6>
                </div>
                <div class="text-center col-4 p-3">
                    <img src="flor.png">
                </div>
                <div class="text-center col-4 p-3">
                    <p><br>Siempre colorea tu vida <br>con felicidad.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>