<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="bootstrap-icons.css" rel="stylesheet" type="text/css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <title>Registro</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <img src="Logo.png">
                </div>
            </div>
        </div>

    </header>
    <section>
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5">Registro</h3>
                            <form action="/registro/save" method="post">
                                <div class="form-group">
                                    <input type="text" name="us_id" placeholder="Usuario" class="form-control form-control-lg" autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="us_nombre" placeholder="Nombre" class="form-control form-control-lg">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="us_apellido" placeholder="Apellido" class="form-control form-control-lg">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="us_contrasena" placeholder="Contraseña" class="form-control form-control-lg">
                                </div>
                                <input type="submit" value="Enviar" class="btn btn-primary btn-lg btn-block mt-5">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>